* {
    margin: 0;
    padding: 0;
    ;
}

body {
    font-family: tahoma;
}
.api_btn{
    color:#fff;
    background-color: rgb(10, 172, 118);;
    margin:30px auto;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    
}
/* ==========design part=========== */
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 172, 118);
    padding: 0 100px;
    height: 100px;
    align-items: center;

}
ul {
    display: flex;
    
    
    
    
}

ul li {
    list-style: none;
    margin-right: 20px;

}

ul li a {
    color: #fff;
    text-decoration: none;


}

/* =============Posts============ */
.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.post {
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/*============ photos ============= */
.img-width {
    width: 400px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:1200px;
    margin:0 auto;
    grid-gap:30px;
}

.photo {
    border: 2px solid goldenrod;
    border-radius: 15px;
    /* background-color: rgba(165, 42, 42, 0.751); */
    /* color: #fff; */
    padding: 10px;
    margin: 5px;
}

/* =========comments========== */

.comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.comment {
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* albums */
.albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.album {
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* ================todos=========== */
.todos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.todo{
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* ==============users============== */
.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.user{
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}